<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"> </script>
<div id="lab5">
    <h2>Lab 6</h2>
    <!-- <p>There's nothing here yet.</p> -->
    <img src="../../../assets/smiley.png">
    <div id="heh6">
        <h4>p5.js:</h4>
        <a href="lab6.component.ts" download>lab6.js</a>
    </div>
</div>
<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
        <p>Last modified on: Mar 31, 2019, 1:32AM</p>
    </div>
</footer>