<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"> </script>
<div id="assign3">
    <h2>Assignment 3</h2>
    <div id="a3">
        
        <h4><u>What I did:</u></h4>
        <p> I created a class called Ball and within it encapsulated all the data and behaviour of the animated object.
            It has some setter and getter functions as well as update() and drawBall() methods. Update() method is responsible to
            updating the x and y coordinates of the Ball accroding to its speeds. drawBall() method is reponsible for drawing
            the image on the canvas. I've added some additional if statements in draw() function for collision detection, so that
            the ball bounces off the canvas's walls and doesn't go beyond it.
        </p>
        <p>
            Moreover, I've created two rectangles and drew them on the opposite of each other bottom of the canvas.
            Rectangles change their colour if you hover it over with a mouse. The default colour of the left rectangle is green but
            when you hover over it, it changes its colour to red. The right recrangles does the opposite.
        </p>
    </div>
</div>

<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
        <p>Last modified on: Apr 14, 2019, 1:13AM</p>
    </div>
</footer>