<div class="container">
  <div class="page-header">
    <h2>Inna Zhogova's BTH645 Portfolio</h2>
  </div>
  <div id="huh">
    <p> Hi, I'm BSD student who's about to finish her second year of college.<br />
      Some information about me: I really enjoy reading old english poetry once in a while</p>

    <p> I'm pleased to present my, hopefully, flawlessly completed assignment number five.
      <br /> The purpose or objective of the assignment is to implement interactive forms for an app, and then deploy
      it
      to a hosting
      service - heroku.</p>
    <br>
  </div>
  <h4 id="hea">Student Oath:</h4>
  <p id="huh"> I declare that this is wholly<br>
    my own work in accordance with <br>
    Seneca Academic Policy. No part of this work has been copied<br>
    manually or electronically from any other source (including web<br>
    sites) or distributed to other students.<br>
    <br>
    <b> Name</b> Inna Zhogova <br> <b> Student ID</b> 116683160</p>
  <!-- 
            <a href="https://sictweb.github.io/bti425/graded-work/assign5">
    <button class="btn btn-primary">Specifications</button>
  </a> -->
</div>