<div class="container">
  <div class="page-header">
    <h2>Inna Zhogova's BTH645 Portfolio</h2>
  </div>
  <div id="huh">
    <p> Hi, I'm BSD student on my third year of studies in college.<br />
      Some information about me: I really enjoy reading old english poetry once in a while</p>

    <p> I'm pleased to present my website.
      <br /> The purpose of this website is to use an interactive form of presentation for my course work in BTH645. </p>
    <br>
  </div>
  <h4 id="hea">Student Oath:</h4>
  <p id="huh"> I declare that this is wholly<br>
    my own work in accordance with <br>
    Seneca Academic Policy. No part of this work has been copied<br>
    manually or electronically from any other source (including web<br>
    sites) or distributed to other students.<br>
    <br>
    <b> Name</b> Inna Zhogova <br> <b> Student ID</b> 116683160</p>
  <!-- 
            <a href="https://sictweb.github.io/bti425/graded-work/assign5">
    <button class="btn btn-primary">Specifications</button>
  </a> -->
</div>
<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
      <p>Last modified on: Jan 22, 2019, 2:30AM</p>
    </div>
  </footer>