<div id="lab1">
<h2>Lab 1: web usability</h2>
<ol id="heh">
    <li>Visability: I made all the content visible to the user right away, the user knows what's on the website while still being on the home page.</li>
    <li>Home page: It clearly states what the page is about, so that the user has no confusion about where he/she is.</li>
    <li>Dropdown navigation buttons: It greatly simplifies the navigation because the user can get to any page from anywhere.</li>
    <li>Footer: States who the owner is, so that the user knows who to reach out to.</li>
    <li>Readability: Black text on a light background, so that it contrasts with one another, which makes it easier to read.</li>
    <li>Fonts: I chose different fonts for headings and text. Font for headers is meant to make it easier to read, font for text is meant to make it easier to stay on the right line, when reading. </li>
    <li>Icons: My dropdown button has a small arrow next to it, so that it's clear that it expands in the direction of the arrow if clicked.</li>
    <li>Font-style: I used boldface font-style to focus user's attention on the particular detail of my student oath.</li>
    <li>Spacing: Each component on the page is properly spaced, so that nothing lays on top of something else, each component is clearly seen. </li>
    <li>Consistency: My colours, fonts, text size and navigation buttons are consistent throughout my entire website.</li>
</ol>
</div>