<div id="lab3">
    <h2>Lab 3</h2>
    <div id="heh3">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p>1)original royalty-free image:</p>
                    <img src="../../../assets/lion.png" alt="lion" height="200" width="200" />
                </div>
                <div class="col-sm-4">
                    <p>2)the modified picture from the above:</p>
                    <img src="../../../assets/Untitled.png" alt="lion_with_sunglasses" height="200" width="200" />
                </div>
            </div>
        </div>
        <p>3)the picture you drew using photo editing software, NOT the photo you take using camera:</p>
        <div class="center">
            <img src="../../../assets/humanCharacter..png" alt="martin_the_human" height="200" width="200" />
        </div>
        <h4><b>1)</b> What’s your modification? Any thoughts (why)? Steps?</h4>
        <p> My steps were:</p>
        <ol>
            <li>I picked out an editor in which it was possible to modify an image of PNG extension(On my computer it
                was Paint 3D).</li>
            <li>I tried to modify the picture in a fun way whlie stlil preserving its style and adding some context to
                it.</li>
            <li>I begun with a sun, then added the sunglasses and the sand.</li>
            <li>Then, I decided to add the star on his chest as I thought that it'll give more value to the image.</li>
        </ol>
        <h4><b>2)</b> What is the difference you noticed from the modification(e.g., file size change? Quality change? etc.)</h4>
        <p> I've noticed a siginificant file size increase, which, I believe, happened because of the things that I
            added to it. I also noticed a tiny decrease in quality but it'll be unnoticable to users.</p>

        <h4><b>3)</b> Is there any special consideration when you create the new image(s)?steps?</h4>
        <p> There are a lot of things to be consdered when creating a new image.
            One should think what the image is created for, what it's going to be used for (context, relevance), where
            it's going to be used for (file format, colour scheme).</p>
        <h4><b>4)</b> Your comments regarding this lab: hard? What’s the difficulty? How you solved it? Fun? Anything that you
            want me to know.</h4>
        <p>It was only hard because we were given zero context of what the images should be about, what should they
            look like, what's their purpose, etc.
            However, except for these few remarks, it was fine otherwise.
        </p>
    </div>
</div>

<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
        <p>Last modified on: Feb 01, 2019, 3:02PM</p>
    </div>
</footer>