<div id="lab5">
    <h2>Lab 5</h2>
    <div id="heh5">
        <h4>My Video:</h4>
        <video width="400" controls>
            <source src="../../../assets/MyMovie.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <h4>Explanation of your work process:</h4>
        <p>For this lab I took one of the videos that I had on my phone and decided to use it for this lab. I added a proper title screen as well as the subtitles
            and credits, I didn't forget to add the animated transitions in too. I addded a background music for both the title and credits. The soundtrack 
            in the beginning fades out and the one at the end fades in. I also added subtitles for the video and an effect from video stabilization
            called "anti-shake", so that the shaking of the camera is a bit less noticeable Lastly, I trimmed the video a little bit.
        </p>
        <h4>your thoughts on video creation:</h4>
        <p>It was definitely a good experience and something I haven't done in a while. Making the subtitles, surprisingly, turned out ot be quite an easy
            work to do. The only thing that's bothered me was a quality decrease after the modification of the video. Otherwise, it was fine.
        </p>
    </div>
</div>

<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
        <p>Last modified on: Feb 27, 2019, 11:01AM</p>
    </div>
</footer>