<div id="lab4">
    <h2>Lab 4</h2>
    <div id="heh4">
        <h4>The audio file I recorded:</h4>
        <audio controls>
            <source src="../../../assets/myOwnRecording.m4a" type="audio/m4a">
            <source src="../../../assets/myOwnRecording.ogg" type="audio/ogg">
            <source src="../../../assets/myOwnRecording.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
        <h4>The audio file I edited:</h4>
        <audio controls>
            <source src="../../../assets/modified.m4a" type="audio/m4a">
            <source src="../../../assets/modified.ogg" type="audio/ogg">
            <source src="../../../assets/modified.mp3" type="audio/mp3">
            The modified Ballade no. 4, Op. 52 by Frédéric Chopin.
        </audio>
        <h4>The original file:</h4>
        <audio controls>
            <source src="../../../assets/Ballade.ogg" type="audio/ogg">
            <source src="../../../assets/Ballade.mp3" type="audio/mp3">
            Ballade no. 4, Op. 52 by Frédéric Chopin.
        </audio>
        <h4><b>1)</b><u> the reason of choosing the file format when creating your audio</u>  </h4>
        <p>The reason I used M4A format is because it's considered to be a far better quality than MP3 and takes less space. 
            However, it is still not as wiedly spread as MP3, so I made my website provide a file of MP3 extension, if user's browser
            doesn't support M4A.
        </p>
        <h4><b>2)</b><u> the useof audio on your websiteregarding usability. </u></h4>
        <p>My audio is quite simple and plain, therefore it could be used anywhere: as a soundtack to a movie or a video game, as a background
            music or as a pop-up sound when some button is pressed. One can also pause my recording and start playing again at his own convinience. 
            The user can also regulate the sound if one happen to think that it's too loud or too quiet.
        </p>
        <h4><b>3)</b><u> any thoughts on different audio file formats, e.g., cons, pros, when to use.</u></h4>
        <p>The biggest andvantage of mp3 format is that, although it might not be the best quality, it's wiedly supported by every wiedly used 
            browser. There is another format that's less commonly used than mp3 - ogg. It's usually accessable to the same computer 
        programs that an mp3 but its qulity for a given size file / bit rate is better than that of mp3. Moreover, it is not licensed so there
    is no need to pay someone else to be able to use it! It's generally recommended to use FLAC and ALAC file formats if you want to 
listen to something wthout any quality loss as these are the formats that use lossless audio compression, however, you going to need a lot
of space for that - something to consider. Whenever you're don't care about the quality being perfect it's fine to use lossy audio compressed formats 
like mp3, ogg and wma. But in case you want to capture the sound exactly what it sounds like - uncompressed audio formats are your best bet. 
PCM format is most the most common audio format used for DVDs and CDs but there are also formats like wav and aiff that could be used as well. </p>
        <h4><b>4)</b><u> description of your editing on the files, e.g., cutting, assembly, fadein, fadeout, etc.</u></h4>
        <p>I've done my additing on a website called "Twisted wave" - an online audio editor.
            First of all, I've trimmed my audio to be 5 minutes long because mostly people don't want to listen to something that's almost
            thirteen minutes long, even if it would be the recording of Chopin himself playing! I also amplified the sound and added a small 
            fade in at the beginning as well as a fade out at the end.
        </p>
    </div>
</div>

<footer class="row">
    <hr>
    <p>Copyright &copy; 2019 Inna Zhogova</p>
    <div class="float-right">
        <p>Last modified on: Feb 06, 2019, 11:56PM</p>
    </div>
</footer>