/* You can add global styles to this file, and also import other style files */
/* Set padding to keep content below the nav bar */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Quantico';
  }
  